@import url(https://fonts.googleapis.com/css?family=Lobster);

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
    padding: 22px;
    line-height: 2em;
    display: block;
    margin: 8px;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

.list { 
    display: inline-block; 
    font-family: 'Lobster', $font-stack;
    font-size: 22px;
}

@mixin pmargin($upbottom, $leftright) {
    display: block;
    -webkit-margin-before: $upbottom;
    -webkit-margin-after: $upbottom;
    -webkit-margin-start: $leftright;
    -webkit-margin-end: $leftright;
}

div {

    @include pmargin(2em, 10px);

    #explain {
        @extend .list;
        @include pmargin(5em, 100px);
        color: lighten($primary-color, 30%);
    }
}
