body {
	font-family: Helvetica, Arial, sans-serif;
    color: #665544;
    padding: 22px;

    display: block;
    margin: 8px;
}


p {
    display: block;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
}

h1, h2, p {
    padding: 12px;
    line-height: 2em;
}