@import url(https://fonts.googleapis.com/css?family=Lobster);

// sass vaiable
body {
    padding: 22px;
    line-height: 2em;
    display: block;
    margin: 8px;
}

// sass nested


// sass mixin

div {
	
// sass extend

}



.list { 
    display: inline-block; 
    font-family: 'Lobster';
    font-size: 22px;
}


